.new-task-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-label-text {
  color: #100f21;
  text-align: center;
  font-size: x-large;
  font-weight: bolder;
  user-select: none;
}

.text-box-and-submit-button-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem 0 1rem 0;

  #text-input-field {
    border: 1px solid #100f21;
    flex-grow: 1;
    font-size: medium;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: #397cd6;
    color: #cbf0fb;
    font-family: "Poppins";
  }
  #text-input-field::placeholder {
    color: #cbf0fb;
    font-family: "Poppins";
    padding: 10px 10px;
  }
}

.add-button {
  font-family: "Poppins";
  border: 1px solid #203f75;
  background-color: #203f75;
  color: #a5c6fa;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  font-size: large;
  transition: background-color 0.3s ease-in-out;
}

.add-button:hover {
  cursor: pointer;
  background-color: #0f1d35;
}

.notif {
  border-radius: 10px;
  padding-left: 20px;
  font-weight: bolder;
  font-size: large;
  color: #100f21;
  user-select: none;
}

.warning {
  background-color: #f0b432;
}
