.item-container {
  position: relative;
  display: flex;
  flex-direction: row;
  font-family: "Poppins";
  border: 1px solid #100f21;
  padding: 0 15px;
  border-radius: 10px;
  background-color: #2064eb;
  color: #cbf0fb;
  font-size: medium;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2px;
  .label-container {
    margin-right: 10px;
    width: 65%;
    font-size: large;
    font-weight: 400;
    p {
      word-wrap: break-word;
    }
  }

  .delete-button {
    border: 1px solid #382c2e;
    background-color: #dc143c;
    color: rgb(54, 6, 6);
  }
  button {
    padding: 10px;
    font: inherit;
    cursor: pointer;
    border-radius: 10px;
    height: 50px;
    width: 50px;
    margin-right: 10px;
  }
  .mark-incomplete-button {
    background-color: #bd0000;
    color: #cbf0fb;
    border: 1px solid #221603;
  }
  .mark-ongoing-button {
    background-color: #f1c666;
    border: 1px solid #221603;
    color: #221603;
  }
  .mark-completed-button {
    background-color: #22b638;
    border: 1px solid #221603;
    color: #cbf0fb;
  }
}

.incomplete {
  color: #e21010;
  font-weight: bolder;
}

.on-going {
  color: #f5cc73;
  font-weight: bolder;
}

.completed {
  color: #13e733;
  font-weight: bolder;
}

.edit-task-button {
  background-color: #f1c666;
  color: #221603;
}

.ignore-input {
  pointer-events: none;
}
